#logo {
  height:50px;
  width: 55px;
  display: block;
  /* Other styles here */
}
.logo-title{
  font-weight: bold;
  color:#FF0266;
  font-size: 1.4em;
}
.active{
  font-size: 1.2em;
  font-weight: bold;
}
#username{
  font-size:bold;
}
