
.mat-form-field {
  width: 100%;
  min-width: 70%;
}
mat-card{
  padding:20px;
  background-color:lightskyblue;
}
mat-card-title,
mat-card-content ,mat-card-actions{
  display: block;
  margin:0 auto;
  text-align: center;
  width:70%;
  background-color:#e3f2fd;
  padding:20px;

}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}


#error{
  color:red;
}
app-quiz-list{
  width:900px;
}
