<div class="container">
  <!-- Content here -->
  <h1 class="text-center">Welcome to MakeQuizApp</h1>
  <mat-card class="introduction">
    <mat-card-title>
      what is MakeQuizApp?
    </mat-card-title>
    <mat-card-content>
      <p class="about">
        MakeQuizApp helps it's users to create Quizzes with various features and share it
        with other users .Teachers can create quiz and share it with student's , however there is no
        restriction that only teacher's should create quiz , anyone can create Quiz .
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="usage">
    <mat-card-title class="text-center mb-5">How to use ?</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="fit" style="height: 1000px">
        <mat-grid-tile>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title class="text-center">Sign up</mat-card-title>
              <mat-card-subtitle>You must sign up to create or attend quizzes</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <span class="text">
                create an account and start using the app!
              </span>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title class="text-center">Creating Quizzes</mat-card-title>
              <mat-card-subtitle>If you want to create quiz then read this</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/images/createQuiz.png"  alt="create quiz">
            <mat-card-content>
              <p class="text">
               When you click create quiz from navbar you will see these three tabs <br>
                <mat-list>
                  <mat-list-item>1.Quiz tab</mat-list-item>
                  <span mat-line> Here you can create quizzes </span>
                  <mat-list-item>2.Question tab </mat-list-item>
                  <span>Here you can add question to your quizzes</span>
                  <mat-list-item> 3.Quiz report</mat-list-item>
                  <span> Here you can see the scores of quiz participants in the table and you can sort
                  the list based on scores or name etc..</span>
                </mat-list>

              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="card " >
            <mat-card-header>
              <mat-card-title >Attend Quiz</mat-card-title>
              <mat-card-subtitle>If you want to attend quiz read this</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/images/quizentry.png"  alt="how to enter quiz">

            <mat-card-content>
              <p class="text">
               <span>To enter a quiz you need to have a valid passcode (secret code) set by the quiz
                 creater which has been given to you . It's simple as that!!</span>
              </p>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title class="text-center">Finally start Using</mat-card-title>
              <mat-card-subtitle>Enjoy making and attending quizzes!!</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <span class="text">
                Hope you enjoy our services, we are happy to help you so contact us in
                case any problems occurs or to give us feedback
              </span>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card-content>
  </mat-card>


</div>

